@model IEnumerable<MVC.Intro.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>View</h1>

<p>
    <a asp-controller="Product" asp-action="Create">Create New</a>
</p>
<table class="table table table-striped table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center">
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(m => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td class="text-end">
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-primary me-2" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <form asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>